.card {
  background: linear-gradient(to bottom, #e1e4c2 0%, var(--green-dark) 100%);
  border-radius: 500px 500px var(--border-s) var(--border-s);
  overflow: hidden;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  padding: 145px 0 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}

.imageWrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 120%;
}

.image {
  object-fit: cover;
  object-position: top;
}

.content {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.cardTitle {
  margin: 0;
  text-align: center;
}

.button {
  max-width: 206px;
}

@media (max-width: 1354px) {
  .card {
    grid-template-rows: 1fr 1.5fr;
  }
}

@media (max-width: 1200px) {
  .card {
    grid-template-rows: 1fr 2.5fr;
  }
}

@media (max-width: 992px) {
  .card {
    grid-template-rows: 1fr 2fr;
  }

  .imageWrapper {
    position: relative;
    max-width: 300px;
    height: 120%;
  }

  .image {
    object-fit: contain;
  }
}
@media (max-width: 768px) {
  .card {
    border-radius: var(--border-l) var(--border-l) var(--border-s)
      var(--border-s);
    padding: 50px 0 0;
  }
}
@media (max-width: 340px) {
  .card {
    padding: 30px 0 0;
    grid-template-rows: 1fr 2fr;
  }

  .imageWrapper {
    position: relative;

    height: 120%;
  }

  .image {
    object-fit: cover;
    object-position: center;
  }
}
