.priceFilter {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.filterLabel {
  font-family: Montserrat, Inter, sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-black);
}

.arrow {
  transform: rotate(90deg);
  margin-left: 12px;
  font-size: 18px;
  color: var(--green-dark);
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(-90deg);
}

.inputsWrapper {
  margin-top: 16px;
  display: flex;
  width: 100%;
  max-height: 1000px;
  overflow: hidden;
  opacity: 1;
  transition: max-height 0.4s ease, opacity 0.3s ease, margin-top 0.3s ease;
}

.inputsWrapper[data-open="false"] {
  max-height: 0;
  opacity: 0;
  margin-top: 0;
}

.priceInputs {
  display: flex;
  align-items: center;
  gap: 8px;
}

.inputWrapper {
  position: relative;
}

.priceInput {
  width: 90px;
  padding: 12px 16px 12px 24px;
  background: var(--bg-white);
  border: 1px solid var(--green-light);
  color: var(--color-black);
  border-radius: var(--border-s);
  font-size: 16px;
  text-align: left;
  appearance: none;
}

.priceInput::-webkit-outer-spin-button,
.priceInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.priceInput[type="number"] {
  -moz-appearance: textfield;
}

.priceInput::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-black);
  opacity: 0.6;
}

.priceInput:focus {
  outline: none;
  border-color: var(--green-dark);
}

.currency {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 500;
  color: var(--color-black);
  pointer-events: none;
}

.priceSeparator {
  font-size: 12px;
  color: var(--green-dark);
}

@media (max-width: 768px) {
  .header {
    font-size: 17px;
    justify-content: start;
  }

  .filterLabel {
    font-size: 14px;
  }

  .arrow {
    font-size: 14px;
  }

  .priceInputs {
    gap: 4px;
  }

  .priceInput {
    width: 60px;
    padding: 6px 8px 6px 20px;
    font-size: 14px;
  }

  .currency {
    left: 8px;
    font-size: 14px;
  }

  .priceInput::placeholder {
    font-size: 14px;
  }
}
