.base {
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
}

.h1 {
  font-size: 64px;
}

.h2 {
  font-size: 40px;
}

.h3 {
  font-size: 28px;
}

.black {
  color: var(--color-black);
}

.white {
  color: var(--color-white);
}
@media (max-width: 992px) {
  .h1 {
    font-size: 48px;
  }

  .h2 {
    font-size: 30px;
  }

  .h3 {
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .h1 {
    font-size: 36px;
  }

  .h2 {
    font-size: 24px;
  }

  .h3 {
    font-size: 16px;
  }
}
