.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
}

.logoText {
  display: flex;
  flex-direction: row;
}

.logoTextBold {
  font-weight: 700;
}

.logoIcon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.logoIcon svg {
  fill: var(--color-white);
}
@media (max-width: 992px) {
  .logoIcon {
    width: 30px;
    height: 30px;
  }

  .logoText {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    font-size: 16px;
    line-height: 0.9;
  }
}
