.favoriteButton {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 2;
  width: 40px;
  height: 40px;
  padding: 6px;
  border: none;
  border-radius: 50%;
  background: var(--bg-white);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}

.favoriteIcon {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: var(--color-black);
  stroke-width: 30;
  transition: all 0.3s ease;
}

.favoriteIcon.filled {
  fill: var(--primary);
  stroke: var(--primary);
}

.favoriteIcon.filled path {
  fill: var(--primary);
  stroke: var(--primary);
}

@media (max-width: 576px) {
  .favoriteButton {
    top: 8px;
    right: 8px;
    width: 25px;
    height: 25px;
    padding: 3px;
  }
}
