.history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  position: relative;
  z-index: 2;
  scroll-margin-top: 120px;
}

.content {
  height: 100%;
  background: var(--green-light);
  border-radius: 9999px 0 0 9999px;
  display: flex;
  justify-content: center;
  padding: 0 0 0 80px;
}

.imageWrapper {
  position: relative;
  aspect-ratio: 4 / 5;
  border-radius: var(--border-l);
  overflow: hidden;
  box-shadow: var(--box-shadow-m);
}

.image {
  object-fit: cover;
}

.textColumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

@media (max-width: 1200px) {
  .history {
    grid-template-columns: 1fr;
  }

  .content {
    padding: 60px 0 60px 80px;
  }

  .imageWrapper {
    aspect-ratio: 3 / 2;
  }
}
@media (max-width: 992px) {
  .history {
    scroll-margin-top: 80px;
  }
}
@media (max-width: 768px) {
  .content {
    border-radius: var(--border-l);
    padding: 20px;
  }
  .textColumn {
    gap: 16px;
  }
}
