:root {
  --primary: #c2644b;
  --primary-hover: #b45339;
  --color-white: #f4f4f4;
  --bg-white: #fafcf5;
  --color-black: #3d3d3d;
  --green-dark: #6b705c;
  --border-s: 16px;
  --border-l: 48px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
body {
  color: var(--color-black);
  background: var(--bg-white);
  font-family: Montserrat, Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
