.summary {
  background: var(--bg-white);
  border-radius: 16px;
  padding: 32px;
  height: fit-content;
  box-shadow: var(--box-shadow-s);
}

.title {
  margin: 0 0 40px;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--color-black);
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--green-dark);
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 24px 0;
  padding-top: 20px;
  border-top: 1px solid var(--color-border);
  color: var(--color-black);
}

.checkout {
  margin-top: 24px;
  width: 100%;
}
@media (max-width: 768px) {
  .title {
    margin: 0 0 20px;
    font-size: 1.25rem;
  }
  .row {
    margin-bottom: 16px;
    font-size: 1rem;
  }

  .total {
    font-size: 1.25rem;
    margin: 16px 0;
  }

  .checkout {
    margin-top: 16px;
  }
}
