.section {
  position: relative;
  display: grid;
  padding: 130px 0 70px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: var(--border-s);
}

.box {
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(2px);
}

.backgroundImage {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.bgImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.overlayWrapper {
  background-image: url("/images/hero-banner.jpg");
}

.overlay {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  justify-items: start;
  gap: 40px;
  position: relative;
  z-index: 2;
  padding: 34px 24px;
  border-radius: var(--border-s);
  max-width: 400px;
  background-color: rgb(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}

.btn {
  justify-self: end;
  max-width: 222px;
  width: 100%;
}

@media (max-width: 992px) {
  .section {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .overlay {
    justify-items: center;
    max-width: 90%;
  }

  .btn {
    justify-self: center;
  }

  .blurLayer {
    grid-column: 1 / -1;
  }
}
@media (max-width: 576px) {
  .section {
    padding: 80px 0 40px;
  }
}
