.productDetail {
  background: var(--green-light);
  border-radius: var(--border-l);
  padding: 40px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
  align-items: start;
}

.imagesColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainImageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: var(--border-l);
  overflow: hidden;
  box-shadow: var(--box-shadow-m);
  background: var(--bg-white);
}

.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.mainImage:hover {
  transform: scale(1.05);
}

.thumbnailsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  gap: 12px;
  justify-content: start;
}

.thumbnail {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: var(--border-s);
  overflow: hidden;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
  background: var(--bg-white);
  color: var(--color-black);
}

.thumbnail:hover {
  border-color: var(--primary);
  transform: scale(1.05);
}

.thumbnailActive {
  border-color: var(--primary);
}

.thumbnailImage {
  object-fit: cover;
}

.noImage {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .imagesColumn {
    flex-direction: row;
  }
  .price {
    font-size: 32px;
  }

  .thumbnailsGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100px);
  }
}
@media (max-width: 576px) {
  .productDetail {
    padding: 20px;
  }
  .thumbnail {
    width: 80px;
    height: 80px;
  }
  .imagesColumn {
    flex-direction: column;
  }
  .thumbnailsGrid {
    grid-template-columns: repeat(auto-fit, 80px);
    grid-template-rows: 1fr;
  }
}
